---
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
---

<Layout
  title="Porfolio en-vang - Full stack developer"
  description="15+ experience."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <div class="space-y-24"></div>
    <SectionContainer id="experience">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
